[package]
name = "zopp-events"
version = "0.1.0"
edition = "2021"

[dependencies]
async-trait = { workspace = true }
futures = { workspace = true }
thiserror = { workspace = true }
zopp-storage = { path = "../zopp-storage" }
