{{- if and .Values.operator.enabled (not .Values.operator.credentials.existingSecret) }}
{{- if and .Values.operator.credentials.principal.id .Values.operator.credentials.principal.privateKey }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "zopp.fullname" . }}-operator-credentials
  labels:
    {{- include "zopp.operator.labels" . | nindent 4 }}
type: Opaque
stringData:
  ZOPP_PRINCIPAL_ID: {{ .Values.operator.credentials.principal.id | quote }}
  ZOPP_PRINCIPAL_NAME: {{ .Values.operator.credentials.principal.name | quote }}
  ZOPP_PRIVATE_KEY: {{ .Values.operator.credentials.principal.privateKey | quote }}
  ZOPP_PUBLIC_KEY: {{ .Values.operator.credentials.principal.publicKey | quote }}
  ZOPP_X25519_PRIVATE_KEY: {{ .Values.operator.credentials.principal.x25519PrivateKey | quote }}
  ZOPP_X25519_PUBLIC_KEY: {{ .Values.operator.credentials.principal.x25519PublicKey | quote }}
{{- end }}
{{- end }}
